.header {
    background-color: #06B2F5;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.24);
    
    &__container {
        width: 100%;
        min-height: 56px;
        padding: 0;
        overflow: hidden;
        margin: 0;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
  }

    &__left {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 0px;
        width: 45%;

  }

    &__right {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 0px;
}

@media (max-width: 740px) {
    .header__left {
        width: auto;
    }
}

@media (max-width: 740px) {
    .header__right {
        width: auto;
        margin-right: 0;
    }
}




// ! Поиск
    &__search {
        @include dfcb;
        width: 25vw;
        height: 38px;
        background: #0596CE;
        border-radius: 4px;
        border: none;
        padding-left: 52px;
        color: rgba(255, 255, 255, 0.72);
        font-family: inherit;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;

        &-wrap {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        &-icon {
            position: absolute;
            margin-left: 15px;
        }
    }
    &__search::placeholder {
        color: rgba(255, 255, 255, 0.72);
        font-family: inherit;
        font-size: 16px;
        font-weight: 400;
        line-height: 40px;
        opacity: 1;  
    }
    &__arrow-icon {
        position: relative;
        margin-left: -35px;
        margin-top: 0px;
    }
    &__select-person {
        border: none;
        box-sizing: border-box;
        font-family: inherit;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        opacity: 1; 
        appearance: none;
        background:  none;
        cursor: pointer;
        display: flex;
        align-items: center;
        text-align: right;
        letter-spacing: 0.0146em;
        color: #FFFFFF;
        padding-right: 24px;
        margin-left: 32px;
    }
    &__select-arrow-icon {
        margin-left: -28px;
        margin-top: 4px;
    }
    &__button-wrap {
        margin-left: 24px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 888px) {
    .header__search, .header__search-icon,
    .header__arrow-icon {
        display: none;
    }
}

@media (max-width: 1060px) {
    .header__select-person, .header__select-arrow-icon {
        display: none;
    }
}


ul.breadcrumb {
    list-style: none;
    padding: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.031em;

    li {
        display: inline;
        color: white;

        a {
            color:white;
            text-decoration: underline;
        }
        a:hover {
            text-decoration: underline;
        }
        
    }

    li+li:before {
        padding: 8px;
        content: "/\00a0"


    }
}

@media (max-width: 740px) {
    ul.breadcrumb  {
        display: none;
        margin-left: 0px;
    }
}