.basic__container {
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
    margin: 0;

    display: flex;
    flex-direction: row;
}

.sidebar {
  display: none;
}

.show-menu {
  display:block;
    max-width: 72px;
    min-height: 100vh;
    background-color: #FFFFFF;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.08), 4px 0px 8px rgba(0, 0, 0, 0.08);
}
.main__container {
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
    margin: 0;

}
.events__section {
    width: 100%;
}

.accordion-body {
    padding: 8px 0px;
    font-family: inherit;
}
//! Event-panel-filters wrapper

.event-panel-filters__wrapper {
  margin: 24px 24px 16px 24px;

  & h2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
  }
}

@media (max-width: 670px) {
  .event-panel-filters__wrapper {
    margin: 24px 24px 24px 24px;
    }
}



.status {
  &-wrap__title {

    width: 94px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 0px;
  }

  &__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
  }

  &__wrap label {
    height: 32px;
    width: auto;
    border-radius: 4px;
    padding-top: 8px;
    padding-right: 8px;
    margin-right: 8px;
    vertical-align: center;
    margin-bottom: 4px;
    margin-top: 4px;

    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
      }
    
    &__wrap label .number {
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      text-align: right;
      letter-spacing: 0.4px;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.6);
      margin-left: 12px;
      margin-right: 5px;
    }
}


.criticality {
  &-wrap__title {
    width: 94px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 0px;
  }

  &__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
  }

  &__wrap label {
    height: 32px;
    width: auto;
    border-radius: 4px;
    padding-top: 8px;
    padding-right: 8px;
    margin-right: 8px;
    vertical-align: center;
    margin-bottom: 4px;
    margin-top: 4px;

    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
      }
    
    &__wrap label .number {
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      text-align: right;
      letter-spacing: 0.4px;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.6);
      margin-left: 12px;
      margin-right: 5px;
    }
}
// Colors
.disabled{
  background-color: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.6);
}
.light-blue {
  background-color: rgba(6, 178, 245, 0.16);;
}
.critical {
  background-color: #F8A4A9;
}

.major {
  background-color: #F6B6AD;
}

.minor {
  background-color: #FBCDAC;
}
.warning {
  background-color: #FCEAAE;
}
.okay {
  background-color: #CFE0AC;
}
// Checkbox

.check {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

.check__input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.check__box {
  position: absolute;
  height: 18px;
  width: 18px;
  margin-top: -1px;
  margin-left: -25px;
  background-image: url("../img/checkbox.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

//Checked 
.check__input:checked + .check__box {
  background-image: url("../img/checkbox_check.svg");
}
//! System filters 
.system-filters {
  &__wrapper .accordion {
    margin: 24px;  
  }
  &__wrapper .accordion-body {
    padding: 16px 16px 10px 16px;
  }

  &__wrapper .accordion-button {
    background-color:#FFFFFF;
    border-radius: 0px;
    padding: 0px 24px 0px 19px;
  }
  &__wrapper .accordion-item {
    border:#FFFFFF;
  }
  &__wrapper .accordion-button:not(.collapsed) {
    background-color:#FFFFFF;
    color: #000000;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
  }

  &__wrapper .accordion-button:not(.collapsed)::after {
    background-image: url("/img/arrowdown.svg")!important; 
    
  }
  
  &__wrapper .accordion-button.collapsed::after {
    background-image: url("/img/arrowdown.svg")!important;
    
  }
  &__wrapper .accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    content: "";
    background-image: url("/img/arrow-up.svg")!important;
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: center;
    transition: transform .2s ease-in-out;
  
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    vertical-align: center;
  }

  &__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-items: center;
  }

  &__wrap label {
    height: 32px;
    width: auto;
    border-radius: 4px;
    padding-top: 8px;
    padding-right: 8px;
    margin-right: 8px;
    vertical-align: center;
    margin-bottom: 8px;


    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    }
    
    &__wrap label .number {
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      text-align: right;
      letter-spacing: 0.4px;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.6);
      margin-left: 12px;
      margin-right: 5px;
    } 

}

.choose-systems {
  margin-right: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.049em;
  text-transform: uppercase;
  color: #06B2F5;
  text-decoration: none;
  cursor: pointer;
}
.choose-systems + span {
  color: rgba(0, 0, 0, 0.6);
}
.choose-systems:hover {
  color: #0185ba;
}

.vertical_line {
  margin-right: 22px;
  margin-left: 16px;
}


@media (max-width: 670px) {
  .choose-systems {
   display: none;
   }
 }

 @media (max-width: 670px) {
  .choose-systems + span {
   display: none;
   }
 }


//Checkbox 1

.check1 {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.014em;
}
.check__input1 {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.check__box1 {
  position: absolute;
  height: 18px;
  width: 18px;
  margin-top: 1px;
  margin-left: -35px;
  background-image: url("../img/check_box_blank.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

//Checked 
.check__input1:checked + .check__box1 {
  background-image: url("../img/check_box_blue.svg");
}

//disabled
.check__input1:disabled + .check__box1 {
  background-image: url("../img/spiner.svg");
}

//Checkbox 2

.check2 {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.014em;
}
.check__input2 {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.check__box2 {
  position: absolute;
  height: 18px;
  width: 18px;
  margin-top: 1px;
  margin-left: -35px;
  background-image: url("../img/check_box_blank.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

//Checked 
.check__input2:checked + .check__box2 {
  background-image: url("../img/header-check.svg");
}

//! Tabs

.tabs-content__wrapper {
    padding: 24px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.tabs {
    width: 100%;
}

.tabs__caption {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    background-color: #03A9F4;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 0px;

    @media (max-width: 670px) {
      .tabs__caption {
       display: none;
       }
     }
}

  .tabs__caption li:last-child:before {
    left: 0;
  }
  .tabs__caption:after {
    display: table;
    clear: both;
  }

  .tabs__caption li {
    padding: 9px 15px;
    margin: 1px 0 0 1px;
    color: #FFF;
    position: relative;
    text-align: center;
  }
  .tabs__caption li:not(.active) {
    cursor: pointer;
  }
  .tabs__caption li:not(.active):hover {
    color: #0596CE;
  }
  .tabs__caption li.active {
    border-bottom-width: 2px;
    border-color: red;
    border-bottom-style: solid;
    padding-bottom: 5px;

  }
  .tabs__caption .active:after {
    content: '';
    background: #FFF;
    
  }
  .tabs__content {
    display: none;
    padding: 12px 12px;
    justify-content: center;
    
  }
  .tabs__content.active {
    display: block;
    padding: 0;
    max-height: 650px;
    justify-content: center;

  }

  //! События

  .events__wrap {
    background-color: #fff;
    border-radius: 5px 5px 5px 5px;
    
  }

  .events-wrap__basic {
    max-height: 480px;
    overflow-x: scroll;
    overflow-y: scroll;
  }

  .events {
    &__wrap {

      box-shadow: 0px 2px 4px rgba(42, 24, 62, 0.08), 0px 4px 8px rgba(42, 24, 62, 0.08);
      
    }

    &-wrap__top {
      min-height: 60px;     
    }

    &-wrap__basic thead {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.4px;
      color: rgb(119, 119, 119);
    }

    &-wrap__basic tbody {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.0146em;
      color: rgba(0, 0, 0, 0.87);
    }

    &-wrap__bottom {
      padding-right: 0px;
      border-radius: 0px 8px 8px 0px;
    }

    &-wrap__bottom p {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.4px;
      color: rgba(0, 0, 0, 0.6);
      margin-top: 12px;
    }

    &-wrap__bottom span {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.4px;
      color: rgba(0, 0, 0, 0.6);
      margin-top: 12px;
      margin-right: 8px;
    }

    &__search {
      @include dfcb;
      width: 22vw;
      height: 40px;
      background: rgba(0, 0, 0, 0.04);
      border-radius: 4px;
      border: none;
      padding-left: 52px;

      color: #000;
      font-family: inherit;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;

      &-wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
    } 
      &-icon {
          position: absolute;
          margin-left: 15px;
      }
    }
    &__search::placeholder {
      color: gray;
      opacity: 1;
      font-family: inherit;
      font-size: 16px;
      font-weight: 400;
      line-height: 40px;
      opacity: 1;  
    }
  &__arrow-icon {
    position: relative;
    margin-left: -35px;
    margin-top: 0px;
}
 
}
.events-blue__text {
  color: #06B2F5;
}

.table-row:hover {
  background-color: 
  rgba(6, 177, 245, 0.439);
}     
.table-row img {
  display: flex;
  margin: auto;
  
}

  //! Детали инцидента

.incident-details__wrapper {
  background-color:#FFFFFF;
  margin: 24px 24px 45px 24px;
  padding: 24px 14px 14px 14px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 
}
// .incident-details__col {
// } 

// Title
.incident-details__title {
      font-size: 18px;
      line-height: 23px;
      letter-spacing: 0.15px;
      color: rgba(0, 0, 0, 0.87);
}

.incident-details__wrapper label {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: rgba(0, 0, 0, 0.6);
  align-content: center;
}

.incident-details__wrapper .checkbox {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.0146em;
  color: rgba(0, 0, 0, 0.87);
}

.incident-details__wrapper select {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.0146em;
  color: #000;
  width: 100%;
  border-width: 0px 0px 2px 0px;
}

.incident-details__wrapper select {
  margin-left: -3px;
}
.incident-details__wrapper input {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.0146em;
  color: #000;
  width: 100%;
  border-width: 0px 0px 0px 0px;
}

.incident-details__col {
  margin-top: 25px !important;
}
.topic-input input {
  width: 100%;
  border-width: 0px 0px 2px 0px;
}
.topic-input {
  width: 100%;
}
.incident-details__col label {
  height: 55px;
}
.performer-input {
  height: auto;
  width: 100%;
  border-width: 0px 0px 0px 0px;
  resize: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.0146em;
  color: #000;
}
.time__wraper {
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.0146em;
  color: #000;
}

.time__wraper h6 {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: rgba(0, 0, 0, 0.6);
}

.time-wrapper__content div {
  margin-top: 25px;
}
.yellow-time {
  color: yellow;
}

.red-time {
  color: red;
}

select:disabled {
  background: #FFFFFF;
  color: #d0cdcd;
  appearance: none; 
  overflow: hidden;
  background: url('../img/arrow-down-gray.svg') no-repeat right;
}

select {
  appearance: none; 
  overflow: hidden;
  background: url('../img/arrow-down-gray.svg') no-repeat right;
}
// Перекючатель

.switch-span {
  margin-top: 13px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.0146em;
  color: rgba(0, 0, 0, 0.87);
}
.checkbox{
	display: inline-block;
	padding: 5px 5px 5px 46px;
	margin: 0;
	position: relative;
	cursor: pointer;
}
.checkbox input{
	position: absolute;
	opacity: 0;
	cursor: inherit;
}
.checkbox span{
	display: inline-block;
	font: normal 12px/18px Arial;
	padding: 1px 0;
}
.checkbox span:before,
.checkbox span:after{
	content: '';
	position: absolute;
	top: 50%;
	transition: .3s;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.checkbox span:before{
	left: 0;
	height: 14px;
	margin-top: -7px;
	width: 40px;
	border-radius: 7px;
	background: rgb(226, 224, 224);
	box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
}
.checkbox span:after{
	left: 0;
	margin-top: -13px;
	height: 24px;
	width: 24px;
	background: #fafafa;
	border-radius: 50%;
	box-shadow: 0 1px 4px rgba(0,0,0,.5);
}

.checkbox input:checked + span:before{
	background-color: #93c9f3;
}
.checkbox input:checked + span:after{
	background-color: #84c5f7;
	left: 16px;
}

.checkbox input:focus + span:before{
	box-shadow: 0 0 0 0px rgba(50,150,255,.2);
}

.checkbox input:disabled + span{
	opacity: .35;
}
.checkbox input:disabled + span:before{
	background: #ccc;
}

//! Details bottom accordion
.details-bottom__wrapper .accordion-item {
  background-color: transparent;
  border-color: #06B2F5;
  border-top-width: 2px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-radius: 0px;
}
.details-bottom__wrapper .accordion-button:not(.collapsed)::after {
  background-image: url("/img/show.svg")!important; 
  
}

.details-bottom__wrapper .accordion-button.collapsed::after {
  background-image: url("/img/show.svg")!important;
  
}
.details-bottom__wrapper .accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 50%;
  content: "";
  background-image: url("/img/hide.svg")!important;
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: center;
  transition: transform .2s ease-in-out;

}

.details-bottom__wrapper .accordion-button {
  padding: 0;
  background-color: transparent;
  
}

.details-bottom__wrapper .accordion {
    &-body  {
      background-color: transparent;
    }
    &-header  {
      background-color: transparent;
    }   
}

.accordion-button:focus {
  z-index: 3;
  border-color: unset;
  outline: 0;
  box-shadow: unset;
} 


//! Bottom details

.details-bottom {
  @include dfrb;
  padding: 0px 24px 0px 24px;
}



.details-bottom__wrap {
  @include dfrb;
  flex-wrap: wrap;
  min-width: 20%;
  margin-right: 20px;

  &:last-child {
    margin: 0;
  }

}

.details-bottom__wrap h6 {
  display: block;
  width: 100%;
  height: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: rgba(0, 0, 0, 0.6);


}
.include__row {
  display: flex;
  flex-direction: row;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0146em;
  color: rgba(0, 0, 0, 0.87);
  min-width: 210px;
}

.include__row .left {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: rgba(0, 0, 0, 0.6);
}
